.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}

.donkey {
    background-color: green !important;
    color: green !important;
    width: 300px !important;

}

.hidden {
    display: none;
}

.shown {
    display: block;
}